* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  border: none;
}

.rightBar {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 9px 33px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  z-index: 1;
  padding: 3em 2em;
  overflow-y: scroll;
}

.rightBar #locationInput {
  margin-bottom: 3em;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  margin: 0;
  border: none;
  outline: none;
  background: #81a09a;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}

.submit:hover {
  background: white;
  color: #000;
}

.locationSearch {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: white;
  font-size: 1.1em;
}

.locationSearch:focus {
  outline: none;
}

.locationSearch::placeholder {
  color: #ccc;
}

.rightBar ul {
  padding: 0 0 0.2em 0;
  margin: 2em 0;
}

.rightBar ul li {
  color: #ccc;
  margin: 2.5em 0;
}

.rightBar ul h4 {
  margin: 1em 0;
}

.weatherdet li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myplace {
  list-style: none;
}

.mylocation {
  display: block;
  cursor: pointer;
}

.mylocation:hover {
  color: #81a09a;
  transition: all ease-in-out 250ms;
}

@media screen and (max-width: 800px) {
  .rightBar {
    position: relative;
    width: 100%;
    top: initial;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
